@import "tailwindcss";

@font-face {
    font-family: "RotisBold";
    src: url("/fonts/ATRotisSemiSans.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: "RotisSemiBold";   
    src: url("/fonts/ATRotisSemiSans.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}


$dark-blue: #01f2f2;
$light-blue: #112a4d;
$gold: #f2df79;
$orange: #F37406;
$bg: #3A53BA;
$white: #fefefe;
$grey:#d8d8d8;
$font-bold: "RotisBold", sans-serif;
$font-semi: "RotisSemiBold", sans-serif;


html, body {
    background: $bg;
    margin:0%;
    padding:0%;
}

nav {
    background: $light-blue;
    color: $white;
}

#promotion { 
    background : $white;
    color: $light-blue;
    font-weight: bold; 
    padding:16px 8px;
}

.promotionCounter{
    font-size: 24px;
    font-weight: 600;
    font-family: $font-semi;
}

.cta-register{
    padding: 16px 16px;
    color: $light-blue;
    background: $white;
    border-radius: 6px;
    font-family: $font-semi;
}

h1{
    color:$white;
    font-family: $font-bold;
}

h2{
    color:$white;
    font-family: $font-bold;
}


p{
    color:$white;
    font-family: $font-semi;
}

.information{
    color:$grey;
    font-style: italic;
}


@keyframes bannerCarousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bannerCarousel {
  display: flex;
  width: max-content;
  animation: bannerCarousel 180s linear infinite;
  color: $light-blue;
  background: $white;
  font-family: $font-bold;
}

#features{
    background: $light-blue;
}

.videoBg{
    background: $bg;
}

.installBgSection{
    background: $light-blue ;
}

li {
  border-bottom: 1px solid #fefefe;
  font-size: 24px;
  font-family: $font-semi;
  color: $white;
}