@import "tailwindcss";

$font-bold: var(--font-rotis-bold);
$font-semi: var(--font-rotis-semi);
$dark-blue: #01f2f2;
$light-blue: #112a4d;
$gold: #f2df79;
$orange: #F37406;
$bg: #3A53BA;
$white: #fefefe;
$grey:#d8d8d8;
$black:#282828;
$font-bold: "RotisBold", sans-serif;
$font-semi: "RotisSemiBold", sans-serif;

::-webkit-scrollbar {
  display: none;
}



//GLOBAL

html, body {
    background: $bg;
    margin:0%;
    padding:0%;
}

h1{
    color:$white;
    font-family: $font-bold;
}

h2{
    color:$white;
    font-family: $font-semi;
}

p{
    color:$white;
    font-family: $font-semi;
}

#hero{
    background: #3A53BA;
}


#choose{
    background: #3A53BA;
}

//NAVBAR CSS
nav {
    background: $light-blue;
    color: $white;
}

.cta-register{
    padding: 16px 16px;
    color: $light-blue;
    background: $white;
    border-radius: 6px;
    font-family: $font-semi;
}

//PROMOTION BANNER CSS
#promotion { 
    background : $white;
    color: $light-blue;
    font-weight: bold; 
    padding:16px 8px;
}

.promotionCounter{
    font-size: 16px;
    font-weight: 600;
    font-family: $font-semi;
}


.information{
    color:$grey;
    font-style: italic;
}

.guide{
    color:$white;
    font-family: $font-semi;
}

@keyframes bannerCarousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bannerCarousel {
  display: flex;
  width: max-content;
  animation: bannerCarousel 180s linear infinite;
  color: $light-blue;
  background: $white;
  font-family: $font-bold;
  border: 1px solid $light-blue;
}

.bannerRevCarousel {
  display: flex;
  width: max-content;
  animation: bannerCarousel 180s linear infinite reverse;
  color: $light-blue;
  background: $white;
  font-family: $font-bold;
   border: 2px solid $light-blue;
}

#features{
    background: $light-blue;
}

.videoBg{
    background: $bg;
    border-radius: 6px;
}

.installBgSection{
    background: $light-blue ;
}

.installSection{
    background: $bg ;
}

.guideBg{
    background: $light-blue;
    border: 1px solid $white;
    border-radius: 6px;
}

li {
  border-bottom: 1px solid #fefefe;
  font-size: 24px;
  font-family: $font-semi;
  color: $white;
}

.cardGuide{
    border: 1px solid #fefefe;
    border-radius: 8px;
    font-family: $font-semi;
    color: $white;
    background: $light-blue;
}

.closeBtn{
    font-size: 24px;
    font-family: $font-semi;
    color: $black;
}

.toastText{
  font-size: 16px;
  font-family: $font-semi;
  color: $black;
}

.formText{
  font-family: $font-semi;
  color: $black;
}

.mobileOverlay{
    font-family: $font-bold;
    color: $white;
    background: $light-blue;
    font-size: 40px;
}

.navigateHeader{
    font-family: $font-semi;
    color: $light-blue;
    font-size: 40px;
}


.navigateText{
    font-family: $font-semi;
    color: $black;
    font-size: 16px;
}

.navigateFormPadd{
border-radius: 2px; 
  border: 1px solid #000;
  padding: 1rem;
  color: #fefefe;
}

.loginBg{
    background: $bg;
  border-radius: 3px;   
  padding: 16px; 
}

.loginInput{
     border: 1px solid #000;      
  border-radius: 3px;    
  padding: 16px;               
  color: #fff;              
  background: transparent; 
  outline: none;  
}