@import "tailwindcss";

$dark-blue: #01f2f2;
$light-blue: #112a4d;
$gold: #f2df79;
$orange: #F37406;
$bg: #3A53BA;
$white: #fefefe;
$grey:#d8d8d8;


html, body {
    background: $bg;
    margin:0%;
    padding:0%;
}

nav {
    background: $light-blue;
    color: $white;
}

#promotion { 
    background : $white;
    color: $light-blue;
    font-weight: bold; 
    padding:16px 8px;
}

.promotionCounter{
    font-size: 24px;
    font-weight: 600;
}

.cta-register{
    padding: 16px 16px;
    color: $light-blue;
    background: $white;
    border-radius: 6px;
}

h1{
    color:$white
}

p{
    color:$white
}

.information{
    color:$grey;
    font-style: italic;
}


@keyframes bannerCarousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bannerCarousel {
  display: flex;
  width: max-content;
  animation: bannerCarousel 180s linear infinite;
  color: $bg;
  background: $white;
  padding: 16px 16px;
  font-size: 64px;
  font-weight: 800;

}